{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Login</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href={% url 'home'%}>Home</a>
                    </li>
                    {%if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <div class="row">
            <div class="col-6">
                <h2>Log in</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input name="username" type="text" class="form-control"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}

    <div class="container">
        <div class="jumbotron">

            <hr class="my-4">
                <p>Para navegar na área logada use a credencial correspondente ao perfil de teste</p>
                <div class="row">
                    <div class="col">
                        <p>Perfil: Operador de Voo (crud das rotas)</p>
                        <p>Username: operador</p>
                        <p>Password: operadoroperador</p>
                    </div>
                    <div class="col">
                        <p>Perfil: Funcionário de Companhia Aérea (atualiza status dos voos)</p>
                        <p>Username: funcionario</p>
                        <p>Password: funcionariofuncionario</p>
                    </div>
                    <div class="col">
                        <div class="col">
                            <p>Perfil: Gerente (gera relatórios)</p>
                            <p>Username: gerente</p>
                            <p>Password: gerentegerente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>