{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Área logada</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href={% url 'home'%}>Home</a>
                    </li>
                    {%if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {%block content%}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo ao sistema de monitoramento de voos! <i class="fas fa-globe-americas"></i></h1>
            <hr class="my-4">
            {%if user.is_authenticated %}
                <p>Escolha uma das opções abaixo</p>
                <div class="row">
                    <div class="col">
                        {% if perms.rota.change_rota %}
                            <a class="btn btn-primary btn-lg" href="/crud" role="button">Gerenciar Voos</a>
                        {% else %}
                            <button disabled class="btn btn-primary btn-lg" role="button">Gerenciar Voos</button>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if perms.rota.change_voo %}
                            <a class="btn btn-primary btn-lg" href="/monitoramento" role="button">Monitorar Voos</a>
                        {% else %}
                            <button disabled class="btn btn-primary btn-lg" href="/monitoramento" role="button">Monitorar Voos</button>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if perms.rota.view_voo %}
                            <a class="btn btn-primary btn-lg" href="/geracao-relatorios" role="button">Gerar Relatórios</a>
                        {% else %}
                            <button disabled class="btn btn-primary btn-lg" href="/geracao-relatorios" role="button">Gerar Relatórios</button>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p>Você não está logado</p>
                <a href="{% url 'login' %}">Log In</a>
            {% endif%}
        </div>
    </div>
    {%endblock%}
</body>

</html>